.datepick {
  position: relative;
  width: 183px;
  user-select: none;
}
.datepick .datepick-input {
  height: 26px;
  padding: 0 6px;
  border-radius: 4px;
  border: 1px solid #d1dbe5;
  outline: none;
}
.datepick .datepick-pickDiv {
  width: 520px;
  border: 1px solid #d1dbe5;
  box-shadow: 0 2px 6px #ccc;
  margin: 4px 0;
  display: none;
  background: #fff;
  z-index: 999;
  color: #48576a;
  line-height: 20px;
}
.datepick .datepick-pickDiv .body {
  display: flex;
}
.datepick .datepick-pickDiv .body .content {
  flex: 1;
  padding: 16px;
}
.datepick .datepick-pickDiv .body .content:first-child {
  border-right: 1px solid #d1dbe5;
}
.datepick .datepick-pickDiv .body .content .header {
  position: relative;
  text-align: center;
  height: 28px;
}
.datepick .datepick-pickDiv .body .content .header button {
  font-size: 12px;
  color: #97a8be;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  margin-top: 3px;
}
.datepick .datepick-pickDiv .body .content .header .arrow-left {
  float: left;
}
.datepick .datepick-pickDiv .body .content .header .arrow-right {
  float: right;
}
.datepick .datepick-pickDiv .body .content .header div {
  font-size: 14px;
  margin-left: 50px;
  margin-right: 50px;
}
.datepick .datepick-pickDiv .body .content table {
  width: 100%;
  font-size: 12px;
  user-select: none;
}
.datepick .datepick-pickDiv .body .content ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.datepick .datepick-pickDiv .body .content ul li {
  user-select: none;
  font-size: 12px;
  list-style: none;
  float: left;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}
.datepick .datepick-pickDiv .body .content ul li.in:hover {
  background-color: #e4e8f1;
}
.datepick .datepick-pickDiv .body .content ul li.timein-inrange {
  background-color: #d2ecff;
}
.datepick .datepick-pickDiv .body .content ul li.inrange {
  background-color: #d2ecff;
}
.datepick .datepick-pickDiv .body .content ul li.timein-active {
  background-color: #20a0ff;
  color: #fff;
}
.datepick .datepick-pickDiv .body .content ul li.timein-activeEnd {
  background-color: #20a0ff;
  color: #fff;
}
.datepick .datepick-pickDiv .body .content ul li.active {
  background-color: #20a0ff;
  color: #fff;
}
.datepick .datepick-pickDiv .body .content ul li.in.activeEnd {
  background-color: #20a0ff;
  color: #fff;
}
.datepick .datepick-pickDiv .body .content ul li.active:hover {
  background-color: #20a0ff;
  color: #fff;
}
